.cards {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 88px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {

  .cards {
  margin: 92px auto 12px;
  }
}

@media screen and (max-width: 768px) {

  .cards {
    width: 100%;
    margin: 88px auto 17px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards {
    margin: 52px ;
  }
}