.footer__navigation-link {
  text-decoration: none;
  padding-right: 18px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer__navigation-link:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
   
  .footer__navigation-link {
    display: flex;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}