.images{
  margin: 92px auto 0;
  max-width: 100vw; 
}

@media screen and (max-width: 768px) {

  .images{
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {

  .images{
    width: 100%; 
  }
}