.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;
  max-width: 100vw;
  min-width: 320px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-content: center;
}