.cards__paragraph {
  max-width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 26px;
}

.cards__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
 
  .cards__paragraph {
    max-width: 456px;
  }
} 

@media screen and (max-width: 768px) {

  .cards__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  
  .cards__paragraph {
    max-width: 288px;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .cards__paragraph:last-child {
    padding-bottom: 0;
  }
}

