.header__logo {
  max-width: 176px;
  max-height: 52px;
  margin-left: 48px;
  margin-top: 28px;
}

@media screen and (max-width: 768px) {
  
  .header__logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {

  .header__logo {
    max-width: 142px;
    max-height: 42px;
    margin-left: 16px;
    margin-top: 16px;
  }
}