.footer__author{
  margin: 0;
  max-width: 186px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

@media screen and (max-width: 320px) {
 
  .footer__author{
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
  }
}