.railway__bg {
  background-image: url(../../../images-3/cover-trains.jpg);
  width: 100%;
  height: 62.5vw;
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  margin: 0 48px;
}

.railway__bg::before {
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.railway__bg:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1024px) {

  .railway__bg {
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {

  .railway__bg {
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {

  .railway__bg {
    width: 100vw;
    margin: 0;
  }
}