.text__paragraph {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding: 40px 0 33px;
}

@media screen and (max-width: 768px) {

  .text__paragraph {
    max-width: 720px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  
  .text__paragraph {
    min-width: 288px;
    padding: 0;
    padding-bottom: 33px;
    padding-top: 40px;
    margin: 0;
  }
}