.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
   
  .lead__title {
    margin: 0 auto 32px;
  }
}

@media screen and (max-width: 320px) {
  
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}