.lead__link{
  max-width: 158px;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;
  margin-left: 148px;
  margin-top: 8px;
}

@media screen and (max-width: 1024px) {

  .lead__link{
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {

  .lead__link{
    margin-left: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  
  .lead__link{
    margin-left: 16px;
  }
}