.cards__align-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 80px;
}

@media screen and (max-width: 768px) {

  .cards__align-bottom {
    padding-bottom: 73px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .cards__align-bottom {
    flex-direction: column;
    padding-bottom: 50px;
  }
}