.cards__title {
  width: 460px;
  display: flex;
  align-items: flex-end;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 1024px) {

  .cards__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {

  .cards__title {
    display: flex;
    align-items: flex-end;
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {

  .cards__title {
    max-width: 288px;
    font-size: 32px;
    margin: 0 16px;
  }
}
  