.footer__navigation-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  
  .footer__navigation-links {
    flex-direction: column;
  }
}