.header__language-link {
  text-decoration: none;
  max-width: 30px;
  color: #FFFFFF;
}

.header__language-link:hover {
  text-decoration: underline;
}

.header__language-link:first-child {
  padding-right: 18px;
}

@media screen and (max-width: 320px) {

  .header__language-link {
    max-width: 22px;
    max-height: 20px;
  }

  .header__language-link:first-child {
    padding-right: 18px;
  }
}