.lead__image {
  width: calc(100% - 296px);
  max-height: 62.5%;
  display: flex;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 1024px) {

  .lead__image {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
     
  .lead__image {
    margin: 0;
    width: 100vw;
    max-height: 62.5vw;
  }
}


