.images__card {
  max-width: 284px;
}

 @media screen and (max-width: 1024px) {

  .images__card {
   max-width: 300px;
  }
}

@media screen and (max-width: 768px) {

  .images__card {
   max-width: 352px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  
  .images__card {
   max-width: 288px;
  }
}