.intro {
  max-width: 1280px;
  display: flex;
  justify-content: flex-start;
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {

  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {

  .intro {
   max-width: 768px;
   margin-left: 24px;
 }
}

@media screen and (max-width: 320px) {
  
  .intro {
    width: 100%;
    margin: 0 16px;
  }
}
