.intro {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

@media screen and (max-width: 1024px) {

  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .intro {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  
  .intro {
    width: 100%;
    margin: 0 16px;
  }
}
