.cards__link {
  max-width: 456px;
  max-height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.cards__link:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {

  .cards__link {
    max-width: 352px;
  }
}