.text {
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {

  .text {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {

  .text {
    margin-left: 24px;
 }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .text {
    margin: 0;
  }
}


