.photo__subtitle {
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding-top: 32px;
  z-index: 3;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  
  .photo__subtitle {
    max-width: 280px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }
}