@import url(../vendor/normalize.css);
@import url(../fonts/Inter/inter.css);

@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__language-links/header__language-links.css);
@import url(../blocks/header/__language-link/header__language-link.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__link/lead__link.css);
@import url(../blocks/lead/__figure/lead__figure.css);

@import url(../blocks/intro/intro.css);

@import url(../blocks/text/text.css);
@import url(../blocks/text/__title/text__title.css);
@import url(../blocks/text/__paragraph/text__paragraph.css);
@import url(../blocks/text/__list/text__list.css);
@import url(../blocks/text/__bold/text__bold.css);

@import url(../blocks/images/images.css);
@import url(../blocks/images/__cards/images__cards.css);
@import url(../blocks/images/__card/images__card.css);

@import url(../blocks/descriptions/descriptions.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__top/cards__top.css);
@import url(../blocks/cards/__bottom/cards__bottom.css);
@import url(../blocks/cards/__list/cards__list.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__website/cards__website.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__url/cards__url.css);
@import url(../blocks/cards/__link/cards__link.css);
@import url(../blocks/cards/__paragraph/cards__paragraph.css);

@import url(../blocks/photo/photo.css);
@import url(../blocks/photo/__title/photo__title.css);
@import url(../blocks/photo/__subtitle/photo__subtitle.css);
@import url(../blocks/photo/__link/photo__link.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__navigation/footer__navigation.css);
@import url(../blocks/footer/__navigation-links/footer__navigation-links.css);
@import url(../blocks/footer/__navigation-link/footer__navigation-link.css);
@import url(../blocks/footer/__author/footer__author.css);
