.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 92px 48px 24px;
  max-width: 1280px;
}

@media screen and (max-width: 768px) {

  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .footer {
    padding: 64px 0 24px 16px;
    flex-direction: column;
    justify-content: space-between;
  }
}