.photo__title{
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 320px) {

  .photo__title{
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}