.text__title {
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
}

@media screen and (max-width: 768px) {
 
  .text__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  
  .text__title {
    font-size: 32px;
    line-height: 35px;
  }
}