.railway {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin-top: 80px;
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (max-width: 1024px) {

  .railway {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {

  .railway {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  
  .railway {
    margin: 0;
  }
}