@import url(./Inter/Inter-Black.woff);
@import url(./Inter/Inter-Black.woff2);
@import url(./Inter/Inter-Bold.woff);
@import url(./Inter/Inter-Bold.woff2);

.page {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
  color: #FFFFFF;
  width: 100vw;
  margin: 0 auto;
  -webkit-font-smoothing: antiaLiased;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

.header__logo {
  max-width: 176px;
  max-height: 52px;
  margin-left: 48px;
  margin-top: 28px;
}

.header__language-links {
  margin: 48px 48px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-content: space-between;
}

.header__language-link {
  text-decoration: none;
  max-width: 30px;
  max-height: 28px;
  color: #FFFFFF;
}

.header__language-link:hover {
  text-decoration: underline;
}

.header__language-link:first-child {
  padding-right: 18px;
}

.shelf {
 width: 100%;
 margin: 56px auto 92px;
 display: flex;
 flex-direction: column;
 align-content: center;
}

.shelf__title {
  max-width: 720px;
  max-height: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: auto;
  margin-bottom: 32px;
}

.shelf__subtitle {
  max-width: 640px;
  max-height: 72px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: auto;
  margin-bottom: 64px;
}

.shelf__image {
  width: calc(100vw - 296px);
  height: calc(62.5vw * 100 / (100vw - 296px) );
  display: flex;
  justify-content: center;
  margin: auto;
}

.shelf__link{
  max-width: 158px;
  max-height: 14px;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0;
  margin-left: 148px;
  margin-top: 8px;
}

.text {
  width: 54vw;
  display: flex;
  justify-content: flex-start;
  margin-left: 148px;
}

.two-lines {
  flex-direction: column;
  justify-content: center;
}

.two-lines__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  white-space: nowrap;
  margin: 0;
}

.two-lines__paragraph {
  max-width: 690px;
  max-height: 208px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
  padding: 40px 0 33px;
}

.two-lines__list {
  max-width: 690px;
  max-height: 90px;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.two-lines__list_font_weight{
  font-weight: bold;
}

.images{
  margin-top: 92px;
  max-width: 100%; 
}

.image__cards{

  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  grid-template-rows: repeat(auto-fill, 213px);
  gap: 16px;
  justify-content: center;
}

.image__card {
 max-width: 284px;
 max-height: 213px;
}

.descriptions {
  margin: 92px 148px;
}

.cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.cards__list {
  padding-bottom: 80px;
}

.cards__list_position_top {
  display: flex;
}

.cards__list_position_bottom {
  display: flex;
  padding-top: 48px;
}

.cards__list:last-child {
  padding-bottom: 0;
}


.cards__title {
  width: 460px;
  display: flex;
  align-items: flex-end;
  max-height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.cards__website {
  max-width: 456px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cards__image {
  max-height: 460px;
}

.cards__url{  
  text-align: left;
  padding: 0;
  max-width: 456px;
  max-height: 12px;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
}

.cards__link {
  max-width: 456px;
  max-height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.cards__link:hover {
  opacity: .8;
}

.cards__text {
  padding-left: 40px;
}

.cards__paragraph {
  max-width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 26px;
}

.cards__paragraph:last-child {
  padding-bottom: 0;
}

.railway {
  background-image: url(../images-3/cover-trains.jpg);
  width: 1180px;
  height: 60.95vw;
  margin: 0 48px;
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.railway::before {
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.railway:hover::before {
  opacity: .8;
}

.railway__title{
  max-width: 560px;
  max-height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  position: relative;
  margin: auto;
  padding-top: 19.14vw;
}

.railway__subtitle {
  max-width: 360px;
  max-height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  margin: auto;
  padding-top: 32px;
}

.railway__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.railway__link {
  color: #FFFFFF;
  text-decoration: none;
}

.footer {
  padding-top: 92px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 24px;
  padding-left: 48px;
  padding-right: 48px;
}

.footer__navigation-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__navigation-link {
  text-decoration: none;
  padding-right: 18px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer__author{
  margin: 0;
  max-width: 186px;
  max-height: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}


@media screen and (max-width: 1024px) {

  .shelf__image {
    max-width: 928px;
    max-height: 580px;
  }

  .shelf__link{
    margin-left: 48px;
  }

  .shelf__subtitle {
    margin: 0 auto 56px;
  }

  .image__cards{
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
  }
  
  .image__card {
   max-width: 300px;
   max-height: 225px;
  }

  .descriptions {
    margin: 92px 48px;
  }

  .cards__title {
    max-height: 152px;
  }
  
  .cards__image {
    max-height: 440px;
  }
  
  .cards__list_position_left {
    max-width: 440px;
    padding-right: 32px;

  }  
   
  .cards__paragraph {
    max-width: 456px;
  } 

  .railway {
    max-width: 1024px;
    max-height: 640px;
  }
  
  .railway__text {
    padding-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  
  .header__logo {
    margin-left: 24px;
  }
  
  .header__language-links {
    margin: 48px 24px 0 0;
  }


  .shelf {
    margin-bottom: 88px;
   }
   
   .shelf__title {
     margin: 48px auto 32px;
   }
   
   
   .shelf__image {
     max-width: 768px;
     max-height: 480px;
   }
   
   .shelf__link{
     margin-left: 24px;
   }

   .text {
    margin-left: 24px;
  }
  
 
  .two-lines__title {
    max-width: 720px;
  }
  
  .two-lines__paragraph {
    max-width: 720px;
  }
  
  .two-lines__list {
    max-width: 720px;
  }

.images{
  margin-top: 88px;
}

.image__cards{
  grid-template-columns: repeat(2, 352px);
  grid-template-rows: repeat(6, 264px);
}

.image__card {
 max-width: 352px;
 max-height: 264px;
}

.descriptions {
  margin: 88px 24px;
}

.cards__list:last-child {
  padding-bottom: 73px;
}

.cards__list_position_left {
  padding-right: 28px;
  max-width: 340px;
}

.cards__title {
  display: flex;
  align-items: flex-end;
  height: 92px;
  font-size: 42px;
  line-height: 46px;
}

.cards__image {
  max-height: 340px;
}

.cards__url{  
  margin: 46px 0 12px;
  max-width: 352px;
}

.cards__link {
  max-width: 352px;
}

.cards__paragraph {
  max-width: 352px;
  font-size: 16px;
}

.railway {
  max-width: 768px;
  max-height: 480px;
}

.railway__text {
  padding-top: 115px;
}

.footer {
  padding-top: 88px;
}

.footer__columns {
  padding-left: 24px;
  padding-right: 24px;
}
}

@media screen and (max-width: 320px) {

  .header__logo {
    max-width: 142px;
    max-height: 42px;
    margin-left: 16px;
    margin-top: 16px;
  }
  
  .header__language-links {
    margin: 30px 16px 0 0;
  }
  
  .header__language-link {
    max-width: 22px;
    max-height: 20px;
    font-size: 18px;
    color: #FFFFFF;
  }
  



  .shelf {
    margin-bottom: 64px;
   }
   
  .shelf__title {
     max-width: 288px;
     max-height: 88px;
     font-size: 40px;
     line-height: 44px;
     margin: 48px auto 16px;
   }
   
   .shelf__subtitle {
     max-width: 288px;
     max-height: 40px;
     margin: 0 auto 40px;
     font-size: 16px;
     line-height: 20px;
   }
   
   .shelf__image {
     max-width: 320px;
     max-height: 200px;
   }
   
   .shelf__link{
     max-width: 158px;
     max-height: 14px;
     font-size: 10px;
     line-height: 14px;
     letter-spacing: 0.15em;
     text-transform: uppercase;
     margin: 0;
     margin-left: 18px;
   }


   .text {
    margin: 16px;
  }
  
  .two-lines__title {
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
    white-space: normal;

  }
  
  .two-lines__paragraph {
    max-width: 288px;
    max-height: 520px;
  }
  
  .two-lines__list {
    max-width: 288px;
    max-height: 90px;
  }
  







  .images{
    margin-top: 64px;
  }
  
  .image__cards{
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
  }
  
  .image__card {
   max-width: 288px;
   max-height: 216px;
  }
  
  .descriptions {
    margin: 64px auto;
  }
  
  .cards {
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .cards__list {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  
  /*
  .cards__list_position_left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 40px;
    max-width: 460px;
  }
  */
  
  .cards__title {
    display: flex;
    align-items: flex-end;
    max-width: 288px;
    height: 35px;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
  }
  
  .cards__image {
    max-width: 320px;
    max-height: 320px;
    padding-top: 32px;
  }
  
  .cards__url{  
    text-align: left;
    margin: 32px 0 12px;
    max-width: 288px;
  }
  
  .cards__link {
    max-width: 288px;
    max-height: 22px;
    padding-bottom: 32px;
  }
  
  .cards__paragraph {
    max-width: 288px;
    font-size: 16px;
    margin: 0;
    padding-bottom: 26px;
  }
  
  .cards__paragraph:last-child {
    padding-bottom: 0;
  }
  
  
  .railway {

    max-width: 320px;
    max-height: 200px;
  }
  
 
  .railway__title{
    max-width: 288px;
    max-height: 70px;
    font-size: 32px;
    line-height: 35px;
  }
  
  .railway__subtitle {
    max-width: 288px;
    max-height: 48px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }
  
  .railway__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 33px;
  }
  
  .railway__link {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footer {
    padding-top: 64px;
  }
  
  .footer__columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-left: 16px;
   
  }
  
  .footer__navigation-links {
    display: flex;
    flex-direction: column;


  }
  
  .footer__navigation-link {
    text-decoration: none;
    color: #FFFFFF;
  
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    margin-bottom: 32px;
  }
  
  .footer__author{
    margin: 0;
    max-width: 186px;
    max-height: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
  }

  

















}





