.cards__website {
  max-width: 456px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  
  .cards__website {
    margin-left: 32px;
  }
}

@media screen and (max-width: 320px) {
  
  .cards__website {
    max-width: 288px;
    margin-top: 32px;
    margin-left: 16px;
  }
}