.photo__link {
  text-decoration: none;
  color: white;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.photo__link::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.photo__link::before:hover {
  background-color: #2A2C2F;
  opacity: .8;
  transition-duration: 1s;
}