.photo__link {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.photo__link::before {
  background-color: #2A2C2F;
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.photo__link:hover {
  opacity: .8;
  transition-duration: 1s;
}

