.photo {
  background-image: url(../../images-3/cover-trains.jpg);
  width: calc(100% - 96px);
  height: 740px;
  background-size: cover;
  background-position: center;
  margin: 0 48px;
  position: relative;
}

@media screen and (max-width: 1040px) {

  .photo {
    width: 100%;
    margin: 0;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {

  .photo {
    height: 480px;
  }

}


@media screen and (max-width: 320px) {

  .photo{
    width: 100%;
    height: 200px;
    margin: 0;
  }
}



