.photo {
  background-image: url(../../images-3/cover-trains.jpg);
  width: calc(100% - 96px);
  height: 62.5vw;
  background-size: cover;
  background-position: center;
  padding: 0;
  position: relative;
  margin: 0 48px;
  z-index: 1;
}





