.cards__text {
  padding-left: 40px;
}

@media screen and (max-width: 1024px) {

  .cards__text {
    padding-left: 32px;
  }
}

@media screen and (max-width: 320px) {

  .cards__text {
    padding: 0;
    margin: 32px 16px 50px 16px;
  }
}