.cards__header {
  display: flex;
  padding-bottom: 48px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .cards__header {
    flex-direction: column;
    padding-bottom: 32px;
  }
}