.images__cards{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  grid-template-rows: repeat(auto-fill, 213px);
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {

  .images__cards{
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 225px);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {

  .images__cards{
    grid-template-columns: repeat(auto-fill, 352px);
    grid-template-rows: repeat(auto-fill, 264px);
  }
}

@media screen and (max-width: 320px) {
  
  .images__cards{
    grid-template-columns: repeat(auto-fill, 288px);
    grid-template-rows: repeat(auto-fill, 216px);
    gap: 16px;
  }
}